body {
  
  font: normal 14px/20px Arial, Helvetica, sans-serif;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}
.container {
  
}
.wrapper {
  display: grid;
  background-color: #1A1A1C;
  grid-template-columns: 150px auto;
  
  
  width: auto; 
  color: #CCC; 
  margin: 10px;
  -box-sizing:border-box;
  
}

.header {
  
  
    background: #1A1A1C;
      color: #CCC;     
      margin: 0 5px 5px 5px;
      padding: 10px;
      
  }

  .headerl {
    grid-row: 1 / span 2;
    grid-column:  1;
    
  }
  .headerrup {
    
    justify-self: end;
    align-self: start;
    grid-column:  2;
    grid-row: 1;
    -box-sizing: border-box;
    
  }  
  .headerrd {
    
    justify-self: end;
    align-self: end;
    grid-column:  2;
    grid-row: 2;
    padding-left: 180px;
    
    
  }   


 .margin-bg3 {
  grid-column:  1 / span 2;
  grid-row:3;
 }
 .margin-bg5 {
  grid-column:  1 / span 2;
  grid-row:5;
 } 

.main-home {
  grid-column:  1 / span 2;
  grid-row:4;
}

.footer {
  grid-column:  1 / span 2;
  grid-row:6;
}

.aside-left {
  }

  .width100 {
    width: 100%;
  }
  .width50 {
    width: 50%;
  }
  .headerl,.headerrd {
    margin: 0 0 10px 0;
  }
  .main-home, .footer {
    -margin: 10px;
  }
  .menu-dropdown li.level1:hover .level1, .menu-dropdown li.remain .level1, .menu-dropdown a.level2:hover, .menu-dropdown a.level3:hover, .menu-sidebar .level2 a:hover > span, .menu-line li a:hover {
    color: #3FA5C3;
  }

  @media screen and (max-width : 680px){
    .width50 {
      width: 100%;
    }
    .slide-sets{justify-content: center;margin:2px;padding:2spx;}
    .slider-next,.slider-prev{margin: 0px;padding: 4px;}
    .set-img1,.set-img2,.set-img3,.set-img4 {
      padding:4px; width:25%;
      } 
    .menu-dropdown .columns2 { width: 300px; }
    .headerrd {
     
      padding-left: 150px;
      
      
    }  
    .set-img4 {display:none;} 
  } 
  
  @media screen and (max-width : 480px){
    .width50 {
      width: 100%;
    }
    .slide-sets{justify-content: center;margin: 2px;padding: 2px;}
    .slider-next,.slider-prev{margin: 0px;padding: 2px;}
    .set-img1,.set-img2,.set-img3,.set-img4 { width:25%;
      padding:4px;margin:1px; 
      } 
    
    .menu-dropdown .columns2 { width: 300px; }
    .menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span {float:none;}
    .headerrd {     
      padding-left: 190px;
         } 
          
    .wrapper,.headerl,.headerup,.headerrd {display:block}
    .slide-arrow-left,.slide-arrow-right,.slider-prev,.slider-next{ 
    transform: scale(0.6);
    }
   /*.headerrd {width:480px}*/
    -body {  min-width:681; }
  }
  @media screen and (min-width : 681px){
    .set-img1,.set-img2,.set-img3,.set-img4 {padding:10px;}
    .headerrd {
     
      padding-left: 0px;
      
      
    }  
  } 
  .margin-bg3,.margin-bg5 {
    height: 10px;
  }

  .margin-bg3,.margin-bg5,body {
    background: #3f3d3d url(./images/background/wood_bg.jpg) repeat;
}
#root {
	max-width: 1000px;
	
	margin: 0 auto !important;
} 
         
.scontainer {
  -padding: 40px;
  background: #419be0;
  width:50%;
}

.slick-slide img {
  -margin: auto;
}

.slide-arrow {
  width: 30px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
  align-self:center;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  -margin: 2%;
}

.slider-prev,.slider-next {
  -top:50%;
  width:35px;height:35px;
  -margin-top:-13px;
  background: url(./images/buttons.png) 0 30px no-repeat;
  
}
.slide-arrow-left{ 
  left:50px;}
.slide-arrow-right {right:50px;}
.slide-arrow-left,.slide-arrow-right {
  -top:50%;
  width:35px;height:35px;
  -margin-top:-25px;  
  background: url(./images/buttons.png) 0 50px no-repeat;
  
}

.slide-arrow-left{-padding-left:5px}

.slider-prev:hover,.slide-arrow-left:hover {
	background-position: 0 -150px;
}
.slider-next:hover,.slide-arrow-right:hover {
	background-position: 0 -50px;
}
.slider-prev,.slide-arrow-left {
	background-position: 0 -100px;
}
.slider-next,.slide-arrow-right{
	background-position: 0 0px;
}


.slide-sets{
 display:flex;
    -height: 92.7394px;
    overflow: hidden;
    margin: 0 -7px;
line-height: 0;
padding: 10px 0 0 0;
margin:0 auto;
align-items:center;
justify-content: center;
width:75%;
  
}
.slide-sets>img.active {
	border: 5px solid #3FA5C3;
}
 .slide-arrow-left,.slide-arrow-right {
  position: relative;  
  align-self: center;
  cursor: pointer;
}
.slider-next, .slider-prev {

-justify-content: center;
}
.set {
  -width:20%;
}
.set-img1,.set-img2,.set-img3,.set-img4 {
  height: auto;
flex-grow:2;
width:18%;

}
.slide-sets{
  display:flex;
justify-content: center;
-padding: 5px 15px;}

.sets{
  display:flex;
  flex-wrap:nowrap;
  -flex-grow:4;
}

.portofolio-youtube {
display:flex;
justify-content: center;
width:100%;
height:500px;
-margin: 0 auto;
}
.portofolio-youtube-text{
  background-color: #404040;
  -background:rgba(0,0,0,0.5);
  -justify-content: flex-start;
  width:90%;
  align-self: center;
  color:#ffff;
  padding:10px 0;
margin: 0 0 10px 0 ;}
.portofolio {
  display:flex;
  flex-direction:column;
  -justify-content: stretch;
  align-items: center;
  background-color: white;

}

div.portofolio iframe{
  -height:"667px";
  width:"90%";
  height:"500px";
  -margin: 0 auto;
}