body {
  font: normal 14px/20px Arial, Helvetica, sans-serif;
  font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
}

.wrapper {
  display: grid;
  background-color: #1a1a1c;
  grid-template-columns: 150px auto;

  width: auto;
  color: #ccc;
  margin: 10px;
  -box-sizing: border-box;
  max-width: 1080px;
  margin: auto;
}

.header {
  background: #1a1a1c;
  color: #ccc;
  margin: 0 5px 5px 5px;
  padding: 10px;
}

.headerl {
  grid-row: 1 / span 2;
  grid-column: 1;
}
.headerrup {
  justify-self: end;
  align-self: start;
  grid-column: 2;
  grid-row: 1;
  -box-sizing: border-box;
}
.headerrd {
  justify-self: end;
  align-self: end;
  grid-column: 2;
  grid-row: 2;
  padding-left: 180px;
}

.margin-bg3 {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.margin-bg5 {
  grid-column: 1 / span 2;
  grid-row: 5;
}

.main-home {
  grid-column: 1 / span 2;
  grid-row: 4;
}

.footer {
  grid-column: 1 / span 2;
  grid-row: 6;
}

.aside-left {
}

.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}
.headerl,
.headerrd {
  margin: 0 0 10px 0;
}
.main-home,
.footer {
  -margin: 10px;
}
.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1,
.menu-dropdown a.level2:hover,
.menu-dropdown a.level3:hover,
.menu-sidebar .level2 a:hover > span,
.menu-line li a:hover,
.headerrup > span {
  color: #3fa5c3;
}
.footer,
.footer a:visited,
.footer a,
.footer img,
.headerrup a,
.headerrup span,
.headerrup img,
.contacts img,
.contacts span,
.contacts a {
  font-size: 14px;
  color: #fff;
  margin: 10px 10px;
}
.footer,
.headerrup {
  display: flex;
  flex-direction: column;
  -align-items: self-start;
  justify-content: flex-start;
  text-decoration: none;
}
.footer img,
.headerrup img,
.contacts img {
  width: 24px;
  height: 24px;
}
.contacts-span {
  margin: 10px 20px;
}
.thumbs {
  height: '160px';
}
.services-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 20px;
  margin: 0;
  -list-style: none;
}

.services-item {
  background: white;
  padding: 5px;
  width: 200px;
  height: auto;
  margin-top: 10px;
  -line-height: 150px;
  color: black;
  font-weight: bold;
  -font-size: 3em;
  text-align: center;
}
div.contacts-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 96px;
  height: 96px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  -border: 3px solid #73ad21;
  z-index: 100;
}
.ring {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  z-index: 1;
}
@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}
.slider-img {
  display: flex;
  justify-content: center;
  height: 370px;
  width: 75%;
}
a.button-blue,
span.button-blue {
  border: 1px solid #008cc8;
  border-bottom-color: #006491;
  background: #00a5e4;
  background: -moz-linear-gradient(top, #00b4f5 0%, #0096d2 100%);
  background: -webkit-linear-gradient(top, #00b4f5 0%, #0096d2 100%);
  background: -o-linear-gradient(top, #00b4f5 0%, #0096d2 100%);
}
.button-blue-border {
  border: 2px solid #008cc8;
  margin: 10px;
}
.footer span {
  margin-bottom: 10px;
}
.contacts-span {
  margin: 10px 20px;
}
a.button-blue,
a.button-blue-border {
  display: flex; /*CSS3*/
  flex-direction: column;
  align-items: center; /*Vertical align*/
  justify-content: center;
  text-decoration: none;
  margin: 10px;

  -display: block;
  -width: 100%;
  -padding: 6px 15px;
  border-radius: 3px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
a.button-blue span {
  vertical-align: middle;
}

@media screen and (max-width: 680px) {
  .width50 {
    width: 100%;
  }
  .thumbs {
    height: 80px;
  }
  .slider-img {
    height: 350px;
  }
  .slide-sets {
    justify-content: center;
    margin: 2px;
    padding: 2spx;
  }
  .slider-next,
  .slider-prev {
    margin: 0px;
    padding: 4px;
  }
  .set-img1,
  .set-img2,
  .set-img3,
  .set-img4 {
    padding: 4px;
    width: 25%;
  }
  .menu-dropdown .columns2 {
    width: 300px;
  }
  .headerrd {
    padding-left: 150px;
  }
  .set-img4 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .width50 {
    width: 100%;
  }
  .thumbs {
    height: 56px;
  }
  .slider-img {
    height: 200px;
  }

  .slide-sets {
    justify-content: center;
    margin: 2px;
    padding: 2px;
  }
  .slider-next,
  .slider-prev {
    margin: 0px;
    padding: 2px;
  }
  .set-img1,
  .set-img2,
  .set-img3,
  .set-img4 {
    width: 25%;
    padding: 4px;
    margin: 1px;
  }

  .menu-dropdown .columns2 {
    width: 300px;
  }
  .menu-dropdown,
  .menu-dropdown .level1,
  .menu-dropdown .level1 > span {
    float: none;
  }
  .headerrd {
    padding-left: 190px;
  }

  .wrapper,
  .headerl,
  .headerup,
  .headerrd {
    display: block;
  }
  .slide-arrow-left,
  .slide-arrow-right,
  .slider-prev,
  .slider-next {
    transform: scale(0.6);
  }
  /*.headerrd {width:480px}*/
  -body {
    min-width: 681;
  }
}
@media screen and (min-width: 681px) {
  .set-img1,
  .set-img2,
  .set-img3,
  .set-img4 {
    padding: 10px;
  }
  .thumbs {
    height: 120px;
  }
  .slider-img {
    height: 600px;
  }
  .headerrd {
    padding-left: 0px;
  }
}

@media screen and (min-width: 1008px) {
  .thumbs {
    height: 180px;
  }
}

.margin-bg3,
.margin-bg5 {
  height: 10px;
}

.margin-bg3,
.margin-bg5,
body {
  background: #3f3d3d url(../images/background/wood_bg.jpg) repeat;
}
#root {
  max-width: 1000px;

  margin: 0 auto !important;
}

.scontainer {
  -padding: 40px;
  background: #419be0;
  width: 50%;
}

.slick-slide img {
  -margin: auto;
}

.slide-arrow {
  width: 30px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
  align-self: center;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  -margin: 2%;
}

.slider-prev,
.slider-next {
  -top: 50%;
  width: 35px;
  height: 35px;
  -margin-top: -13px;
  background: url(../images/buttons.png) 0 30px no-repeat;
}
.slide-arrow-left {
  left: 50px;
}
.slide-arrow-right {
  right: 50px;
}
.slide-arrow-left,
.slide-arrow-right {
  -top: 50%;
  width: 35px;
  height: 35px;
  -margin-top: -25px;
  background: url(../images/buttons.png) 0 50px no-repeat;
}

.slide-arrow-left {
  -padding-left: 5px;
}

.slider-prev:hover,
.slide-arrow-left:hover {
  background-position: 0 -150px;
}
.slider-next:hover,
.slide-arrow-right:hover {
  background-position: 0 -50px;
}
.slider-prev,
.slide-arrow-left {
  background-position: 0 -100px;
}
.slider-next,
.slide-arrow-right {
  background-position: 0 0px;
}

.slide-sets {
  display: flex;
  -height: 92.7394px;
  overflow: hidden;
  margin: 0 -7px;
  line-height: 0;
  padding: 10px 0 0 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 75%;
}
.slide-sets > img.active,
.thumbs img.active {
  border: 3px solid #3fa5c3;
}
.slide-arrow-left,
.slide-arrow-right {
  position: relative;
  align-self: center;
  cursor: pointer;
}
.slider-next,
.slider-prev {
  -justify-content: center;
}
.set {
  -width: 20%;
}
.set-img1,
.set-img2,
.set-img3,
.set-img4 {
  height: auto;
  flex-grow: 2;
  width: 18%;
}
.slide-sets {
  display: flex;
  justify-content: center;
  -padding: 5px 15px;
}

.sets {
  display: flex;
  flex-wrap: nowrap;
  -flex-grow: 4;
}

.portofolio-youtube {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  -margin: 0 auto;
}
.portofolio-youtube-text {
  background-color: #404040;
  -background: rgba(0, 0, 0, 0.5);
  -justify-content: flex-start;
  width: 90%;
  align-self: center;
  color: #ffff;
  padding: 10px 0;
  margin: 0 0 10px 0;
}
.portofolio {
  display: flex;
  flex-direction: column;
  -justify-content: stretch;
  align-items: center;
  background-color: white;
}

div.portofolio iframe {
  -height: '667px';
  width: '90%';
  height: '500px';
  -margin: 0 auto;
}
.main-article {
  padding: 10px;
  background-color: white;
  color: black;
  margin: 20px;
}
